---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/Testimonials.astro';
import Services from '../components/Services.astro';
import Approach from '../components/Approach.astro';
import ProjectMore from '../components/ProjectMore.astro';
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Team />
    <Approach />
    <ProjectMore />
    <Testimonials />
    <Contact />
  </main>
</Layout>
