<section class="absolute top-0 left-0 right-0 bg-transparent z-50 text-right p-4 font-medium">
  <a href="/" class="hover:bg-gold-300 hover:text-dark transition-all duration-300 mr-2">Home</a>
  <a href="/about/" class="hover:bg-gold-300 hover:text-dark transition-all duration-300">About Us</a>
</section>