---
const services = [
  {
    heading: 'Industry Knowledge',
    content:
      'Deep understanding of historical trends, markets, and regions in aviation. Real-time knowledge of asset capabilities and values.',
  },
  {
    heading: 'Technical Proficiency',
    content:
      'In-depth understanding of aircraft platforms and maintenance practices. Comprehensive knowledge of parts, components, and MRO operations.',
  },

  {
    heading: 'Strategic Relationships',
    content:
      'Strong connections with governments, airlines, OEMs, and financial institutions. Global marketing insights and substantial airline customer knowledge.',
  },

  {
    heading: 'Turnaround and Restructuring',
    content:
      'Strategic, operational, and financial restructuring for airlines. Transformation support and transaction assistance for air transport businesses.',
  },

  {
    heading: 'Comprehensive Solutions',
    content:
      'Total airline solutions offering scale and capabilities for self-sustainability. Services include strategy, governance, process improvement, revenue management, and fleet planning.',
  },

  {
    heading: 'Regulatory Compliance',
    content:
      'Risk assessment, EASA and IOSA compliance, continuous improvement, and documentation implementation.',
  },

  {
    heading: 'Operations Management',
    content:
      'Crew planning, maintenance scheduling, engineering management, security, safety, and crisis management services.',
  },

  {
    heading: 'Procurement & Asset Management',
    content:
      'Strategic purchasing, reduced total cost of ownership, category management, and aircraft trading and leasing support.',
  },

  {
    heading: 'Airport Services',
    content:
      'Strategic, operational, restructuring, and transformation support for airport owners, operators, regulators, and developers.',
  },
];
---

<section id='services' class='relative py-24 bg-dark-900'>
  <div class='container mx-auto px-4'>
    <div class='max-w-6xl mx-auto text-center animate-fade-in'>
      <h2 class='text-4xl font-playfair text-gold-300 mb-6'>
        Comprehensive Aviation Services
      </h2>
      <p class='text-gray-400 text-lg mb-12'>
        We offer a unique and differentiated perspective
      </p>
      <div class='grid grid-cols-3 text-gray-300 gap-16'>
        {
          services.map((service, index) => (
            <div class='flex w-full flex-col gap-6 md:gap-2 text-left'>
              <h3 class='text-xl font-medium leading-12'>{service.heading}</h3>
              <p class='text-sm leading-relaxed'>{service.content}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
