---
import Carousel from '../functional-components/Carousel.tsx';

const testimonials = [
  {
    name: 'Mikael Wangdahl',
    company: 'VP Head of Airline Operations, SAS',
    text: 'I want to thank you for our seven-year partnership. What an incredible journey we have had together! During the last year you have improved your performance delivery considerably and it is truly impressive to see the fighting spirit within Xfly',
    image: 'https://placehold.co/400x400',
  },
  {
    name: 'Lars Johansson',
    company: 'Vice President OCC & Punctuality, SAS',
    text: 'Your contribution have secured our joint customers’ trust and that is extremely valued. Your level of performance has exceeded our targets. OTP is best in class, and I have great respect for the hard work that made it possible. With a humble thanks',
    image: 'https://placehold.co/400x400',
  },
  {
    name: 'Christian Skjelstad',
    company: 'Cabin Crew / Service Coordinator, Widerøes Flyveselskap',
    text: 'Thank you for the excellent cooperation. We are very happy with the overall performance that has been completely in accordance with Wideroe’s standard',
    image: 'https://placehold.co/400x400',
  },
  {
    name: 'Kadri Land',
    company: 'Supervisory Board Chairman, Nordica',
    text: 'I want to take a moment to thank you for everything. Your hard work, dedication, and resilience have been remarkable. While the circumstances were far from ideal, you always found a silver lining, even in the toughest moments, and I’m confident that brighter opportunities lie ahead',
    image: 'https://placehold.co/400x400',
  },
];

export type TestimonialsType = typeof testimonials;
---

<section id='testimonials' class='py-16 bg-dark-800'>
  <div class='container mx-auto px-4'>
    <div class='text-center mb-16 animate-fade-in'>
      <h2 class='text-4xl font-playfair text-gold-300 mb-4'>Testimonials</h2>
      <hr class='w-20 h-1 bg-gold-300 mx-auto' />
    </div>
    {(<Carousel testimonials={testimonials} client:visible />)}
  </div>
</section>
